In [2]:
import pandas as pd 
import numpy as np

# Iris Dataset

In [3]:
iris = pd.read_csv("iris.csv")

In [4]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Check Standardisation

In [5]:
Notstd_list = []
for i in range(len(iris.columns)):
    if iris.iloc[:,i].dtypes!='object':
        if iris.iloc[:,i].mean()!=0 or iris.iloc[:,i].std()!=1:
            Notstd_list.append(iris.columns[i])
            print(iris.columns[i]," is not standarised")
        else:
            print(iris.columns[i]," is standarised")

sepal.length  is not standarised
sepal.width  is not standarised
petal.length  is not standarised
petal.width  is not standarised

In [10]:
def standardise(value,mean,std):
    return ((value-mean)/std)

In [11]:
for i in Notstd_list:
    mean_val = iris[i].mean()
    std_val = iris[i].std()
    iris[i]=iris[i].apply(lambda x : standardise(x,mean_val,std_val))

In [12]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0     -0.897674     1.015602     -1.335752    -1.311052  Setosa
1     -1.139200    -0.131539     -1.335752    -1.311052  Setosa
2     -1.380727     0.327318     -1.392399    -1.311052  Setosa
3     -1.501490     0.097889     -1.279104    -1.311052  Setosa
4     -1.018437     1.245030     -1.335752    -1.311052  Setosa

In [13]:
#Standarised Attributes
for i in Notstd_list:
    mean_val = round(iris[i].mean())
    std_val = round(iris[i].std())
    print(i,mean_val,std_val)

sepal.length 0.0 1.0
sepal.width -0.0 1.0
petal.length -0.0 1.0
petal.width 0.0 1.0

# Wine dataset

In [14]:
wine = pd.read_csv("wine.csv")

In [15]:
wine.head()

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [16]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Wine                  178 non-null    int64
 1   Alcohol               178 non-null    float64
 2   Malic.acid            178 non-null    float64
 3   Ash                   178 non-null    float64
 4   Acl                   178 non-null    float64
 5   Mg                    178 non-null    int64
 6   Phenols               178 non-null    float64
 7   Flavanoids            178 non-null    float64
 8   Nonflavanoid.phenols  178 non-null    float64
 9   Proanth               178 non-null    float64
 10  Color.int             178 non-null    float64
 11  Hue                   178 non-null    float64
 12  OD                    178 non-null    float64
 13  Proline               178 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.6 KB

In [17]:
wine['Wine']=wine['Wine'].astype(object)

### Check Standardisation

In [22]:
Notstd_list_2 = []
for i in range(len(wine.columns)):
    if wine.iloc[:,i].dtypes!='object':
        if wine.iloc[:,i].mean()!=0 or wine.iloc[:,i].std()!=1:
            Notstd_list_2.append(wine.columns[i])
            print(wine.columns[i]," is not standarised")
        else:
            print(wine.columns[i]," is standarised")

Alcohol  is not standarised
Malic.acid  is not standarised
Ash  is not standarised
Acl  is not standarised
Mg  is not standarised
Phenols  is not standarised
Flavanoids  is not standarised
Nonflavanoid.phenols  is not standarised
Proanth  is not standarised
Color.int  is not standarised
Hue  is not standarised
OD  is not standarised
Proline  is not standarised

In [23]:
for i in Notstd_list_2:
    mean_val = wine[i].mean()
    std_val = wine[i].std()
    wine[i]=wine[i].apply(lambda x : standardise(x,mean_val,std_val))

In [24]:
for i in Notstd_list_2:
    mean_val = round(wine[i].mean())
    std_val = round(wine[i].std())
    print(i,mean_val,std_val)

Alcohol 0.0 1.0
Malic.acid -0.0 1.0
Ash 0.0 1.0
Acl 0.0 1.0
Mg -0.0 1.0
Phenols 0.0 1.0
Flavanoids -0.0 1.0
Nonflavanoid.phenols -0.0 1.0
Proanth 0.0 1.0
Color.int 0.0 1.0
Hue -0.0 1.0
OD 0.0 1.0
Proline -0.0 1.0